/*
Colors used:
Background: #FCFCFC
Font Color (dark violet): #3c2b3f;
Alternative Font Colour (dark green): #278379;
Primary Color (green): #aae1db;
Secondary Color (light green): #e9f4f3;
*/

:root {
  --primary-color: 170, 225, 219;
  --font-color: 60, 43, 63;
  --alternative-font-color: 39, 131, 121;
  --secondary-color: 233,244,243;
  --background: 252,252,252;
}

* {
  box-sizing: border-box;
}

#hero .container {
  padding-top: 140px;
}

#vocabby #hero{
  background-color: #ffe9a1;
}

/* Navigation Layout */

header {
  background-color: #ffffff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  left: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(var(--primary-color));
}

nav > ul > li > a:visited {
  color: rgba(rgb(var(--primary-color)), 0.8);
}

nav > ul > li > a:hover {
  border-bottom: 3px solid rgb(var(--primary-color));
}

#menu a {
  border-bottom: none;
}

.logo img {
  max-width: 40px;
}

.icon img {
  max-width: 140px;
}

/* Body Layout */

body {
  background-color: rgb(var(--background));
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

.white {
  background-color: white;
  padding: 10px 25px;
}

ul {
  text-align: center;
}

/* Hero Layout */

#hero {
  background-color: rgba(var(--secondary-color));
  padding: 20px 0;
}

/* Layout */

.container {
  padding: 0 15px;
  text-align: center;
}

.row {
  margin: 25px 0;
  text-align: center;
}
#vocabby .row {
  margin: 50px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

/*
.text-left {
  text-align: left;
}
*/

.no-margin-top {
  margin-top: 0px;
}

.no-margin-botton {
  margin-bottom: 0px;
}

.small-margin-botton {
  margin-bottom: 15px;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(var(--primary-color)); }

#projects .last {
  border-bottom: 0px;
}

/*Footer*/

#contact {
  background-color: rgba(var(--secondary-color));
  padding: 20px 0;
}

#contact a.button {
  background-color: rgb(var(--primary-color));
  border: 2px solid rgb(var(--primary-color));
}

a.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  background-color: rgb(var(--primary-color));
  color: rgb(var(--font-color));
}

/* Fonts*/

h1 {
  font-family: 'Koh Santepheap', serif;
  color: rgb(var(--font-color));
  font-size: 2em;
  margin: 0;
  padding: 0.3em 0;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
}


h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(var(--font-color));
  font-weight: 200;
  line-height: 1;
}

h2 {
    font-size: 2.45em;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 20px;
}

h3 {
  font-size: 2.45em;
  margin: 0.6em 0;
}

h4 {
  font-size: 2.15em;
  line-height: 1.4;
}

p {
    font-family: 'Martel', serif;
    color: rgb(var(--font-color));
    font-size: 1.2em;
}

p.hero-subheadline {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4em;
  line-height: 1.4;
  font-weight: 200;
  margin-top: 0px;
}

ul {
  font-family: 'Martel', serif;
  font-size: 1.2em;
  font-weight: 400;
}

/* Images */

img {
width: 100%;
}

.social-link img {
  border-bottom: none;
  width: 68px;
  padding: 10px 5px 15px 5px;
  margin: 20px 0px 0px 0px;
}

/* Links */

a {
  color: rgb(var(--primary-color));
  text-decoration: none; /* No underlining */
  border-bottom: 1px solid rgb(var(--primary-color));
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:hover {
  border-bottom: 3px solid rgb(var(--primary-color));
}
a:focus {
  border-bottom: 3px solid rgb(var(--primary-color));
}
a:active { /* selected link */
  color: #994c30;
}

a.social-link {
  border-bottom: none;
}

a.logo {
  border-bottom: none;
}

a.button {
  display: inline-block;
  background-color: rgb(var(--background));
  color: rgb(var(--font-color));
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid rgb(var(--font-color));
  transition: 0.2s opacity;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.2s opacity;
}

a.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  background-color: rgb(var(--font-color));
  color: rgb(var(--background));
  text-decoration: none;
  box-shadow: none;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo img {
    max-width: 80px;
  }

  #hero span {
    display: block;
  }

  #hero .container {
    padding-bottom: 30px;
  }

  .hero-illustration {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-2 {
    width: 16.66%;
    text-align: left;
  }

  .col-md-3 {
    width: 25%;
    text-align: left;
  }

  .col-md-4 {
    width: 33.33%;
    text-align: left;
  }

  .col-md-5 {
    width: 41.66%;
    text-align: left;
  }


  .col-md-6 {
    width: 50%;
    text-align: left;
  }

  .col-md-7 {
    width: 58.33%;
    text-align: left;
  }

  .col-md-8 {
    width: 66.66%;
    text-align: left;
  }

  .col-md-12 {
    width: 100%;
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-left ul {
    text-align: left;
  }

  .small-margin-botton {
    margin-bottom: 44px;
  }

  .icon {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .middle {
    text-align: center;
    border-left: 2px solid rgb(var(--font-color), 0.1);
    border-right: 2px solid rgb(var(--font-color), 0.1);
  }

  h1 {
    font-size: 2.5em;
    line-height: 1;
 }

  h2 {
    font-size: 2.4em;
    padding-top: 30px;
  }

  h3 {
    font-size: 2.4em;
  }

  #about-me h3 {
    margin-top: 0;
  }
/*
  #projects h1 {
    color: rgb(var(--alternative-font-color));
  }
*/

  #projects h3 {
    margin-top: 0;
    padding-top: 30px;
  }

  p.hero-subheadline {
    padding-top: 15px;
  }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .header-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-illustration {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-9 {
    width: 75%;
  }

  .portrait {
    max-width: 240px;
  }

  h1 {
    font-size: 3em;
    padding-top: 30px;
  }

  h2 {
    font-size: 2.5em;
    padding-top: 30px;
  }

  h3 {
    font-size: 2.5em;
  }

  p.hero-subheadline {
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 2px;
    padding-top: 25px;
  }

}
