/*
Colors used:
Background: #FCFCFC
Primary Color (Dark-Gray): #0C0C0E;
Secondary Color (Gray): #373A41;
*/

:root {
  --primary-color: 12,12,14;
  --secondary-color: 55,58,65;
  --background: 252,252,252;
}

* {
  box-sizing: border-box;
}

#hero .container {
  padding-top: 140px;
}

/* Navigation Layout */

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
}

nav > ul > li > a:visited {
  color: rgba(var(--primary-color), 0.8);
}

#menu a {
  border-bottom: none;
}

.logo img {
  max-width: 80px;
}

/* Body Layout */

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: var(--primary-color);
}

/* Hero Layout */

#hero {
  background-color: rgba(var(--secondary-color), 0.1);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Layout */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}

#projects .row { padding-bottom: 25px; border-bottom: 1px solid var(--primary-color); }

/* Fonts*/

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 0.6em 0;
}

h2 {
    font-size: 3.25em;
}

h3 {
  font-size: 2.75em;
  margin: 0.6em 0;
}

h4 {
  font-family: 'Exo', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}

h4 {
  font-size: 2.35em;
}
p {
    font-family: 'Martel', serif;
    font-size: 1em;
}

/* Images */

img {
width: 100%;
}

.social-link img {
  border-bottom: none;
  width: 68px;
  padding: 10px 5px 15px 5px;
  margin: 20px 0px 0px 0px;
}

/* Links */

a {
  color: var(--primary-color);
  text-decoration: none; /* No underlining */
  border-bottom: 1px solid var(--primary-color);
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:hover {
  border-bottom: 3px solid var(--primary-color);
}
a:focus {
  border-bottom: 3px solid var(--primary-color);
}
a:active { /* selected link */
  color: #994c30;
}

a.social-link {
  border-bottom: none;
}

a.logo {
  border-bottom: none;
}

a.button {
  display: inline-block;
  background-color: var(--background);
  color: var(--primary-color);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  transition: 0.2s opacity;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  }
a.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  background-color: var(--primary-color);
  color: var(--background);
  text-decoration: none;
    box-shadow: none;
}
